@import "_variables";

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: $font;
  font-size: 16px;
}

.container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
